@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Autour+One);

html {
    margin:    0 auto;
    max-width: 960px;
    font-family: 'Muli', sans-serif;
    font-size: 85%;
}

div.site h2 {
    font-family: 'Autour One', cursive;
    background-color: orange;
    padding: 0.3em;
}

div.site ul {
    list-style-type: circle;
}
div.site ul li {
    padding-bottom: 0.4em;
}

a {
    text-decoration: none;
}
a:hover {
    background-color: #efefef;
}

a.meta {
    font-size: 85%;
    text-decoration: none;
    color: gray;
}